<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= "#{response}" %>
    </p>

    <p>
      <%= "Previous guesses: #{guesses}" %>
    </p>
  </body>
</html>
